.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 100px 10%;
    position: relative;
    overflow: hidden;
}

.layout__content {
    display: grid;
    gap: 20px;
}

.layout_main>h1 {
    width: 40%;
    font-size: 3.6rem;
    font-weight: 800;
    color: #2F2A37;
}

.layout_main>p{
    width: 40%;
    font-size: 1.4rem;
    color: #6E6C72;
}

.layout_main .btn{
    margin-top: 40px;
}

.layout_main::before {
    content: '';
    position: absolute;
    margin-right: 10%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
    width: 700px;
    height: 375px;
    background: url("../../assets/images/main.svg") no-repeat;
    background-size: 80%;
    background-position: center;
}

.layout_main::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #6BFFCA;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    filter: blur(120px);
}

.layout_suitable,
.layout_choise {
    background-color: #242029;
    color: #F3F6EF;
}

.layout_suitable>h2 {
    font-size: 2.85rem;
    color: #F3F6EF;
    font-weight: 800;
    margin-bottom: 58px;
}

.layout_suitable .layout__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.layout_suitable .layout__content>div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.layout_suitable .layout__content>div>div {
    display: grid;
    gap: 20px;
}

.layout_card>h2 {
    text-align: center;
    font-weight: 800;
    font-size: 2.85rem;
    color: #2F2A37;
}

.layout_card>p {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #6E6C72;
    margin-bottom: 35px;
}

.layout_card::before,
.layout_card::after {
    content: '';
    position: absolute;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    z-index: -1;
}

.layout_card::before {
    top: -70%;
    left: -50%;
    transform: translate(50%, 50%);
    background-color: #6BFFCA;
    filter: blur(206px);
}

.layout_card::after {
    top: 60%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: #9E00FF;
    filter: blur(180px);
}

.layout_card .layout__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.layout_card .layout__content>div {
    display: grid;
    gap: 20px;
    border-radius: 10px;
    align-content: flex-start;
    background: linear-gradient(139deg, #FFF -21.71%, rgba(243, 246, 239, 0.00) 94.44%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5px);
    padding: 40px;
}

.layout_card .layout__content>div>div {
    display: grid;
    gap: 20px;
}

.layout_card .layout__content>div>div h3 {
    font-weight: 500;
    font-size: 1.7rem;
    color: #2F2A37;
}

.layout_card .layout__content>div>div p {
    font-weight: 500;
    font-size: 1rem;
    color: #2F2A37;
}

.layout_suitable .btn,
.layout_card .btn {
    margin: 90px auto 0;
}

.layout_choise>h2 {
    font-size: 2.85rem;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
    color: #F3F6EF;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.list__component {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 84px;
    color: #2F2A37;
    background: linear-gradient(180deg, #FFF -13.5%, rgba(243, 246, 239, 0.00) 187.91%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5px);
}

.layout_choise>div:last-child {
    position: relative;
}

.layout_choise>div:last-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 620px;
    height: 450px;
    background: url('../../assets/images/bottom.svg') no-repeat;
    background-position: center;
    background-size: 80%;
}

.layout_choise>div:last-child h2,
.layout_choise .layout__content>div:nth-child(2) h3 {
    width: 40%;
    font-size: 2.85rem;
    font-weight: 800;
    color: #F3F6EF;
    margin: 50px 0 40px;
}

.layout_choise .layout__content>div:nth-child(2) h3 {
    width: 75%;
}

.layout_choise>div:last-child h3,
.layout_choise .layout__content>div:nth-child(3) h3 {
    width: 40%;
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 16px;
    color: #6BFFCA;
}

.layout_choise .layout__content>div:nth-child(3) h3 {
    width: 75%;
    font-size: 2.15rem;
}

.layout_choise>div:last-child p,
.layout_choise .layout__content>div:nth-child(2) p,
.layout_choise .layout__content>div:nth-child(3) p {
    width: 40%;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 40px;
    color: #F3F6EF;
}